.loadMoreCustom {
  // margin-top: 20px;
  // margin-bottom: 20px;
  padding: 20px 0;

  .list-ts {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: #8f9dac;
    font-size: 13px;
  }
}
