@import '~taro-ui/dist/style/index.scss'; // 引入组件样式 - 方式二

.taro-tabbar__tabbar {
  display: none;
}

/* 数字前特殊字符 */
.text-price::before {
  margin-right: 6px;
  font-weight: normal !important;
  font-size: 75%;
  content: '¥';
}

.text-number::before {
  margin-right: 6px;
  font-weight: normal !important;
  font-size: 80%;
  content: 'x';
}

.bg-gradual-red {
  color: #fff;
  background-image: linear-gradient(45deg, #f43f3b, #ec008c);
}

.bg-gradual-orange {
  color: #fff;
  background-image: linear-gradient(45deg, #ff9700, #ed1c24);
}

.bg-gradual-green {
  color: #fff;
  background-image: linear-gradient(45deg, #39b54a, #8dc63f);
}

.bg-gradual-purple {
  color: #fff;
  background-image: linear-gradient(45deg, #9000ff, #5e00ff);
}

.bg-gradual-pink {
  color: #fff;
  background-image: linear-gradient(45deg, #ec008c, #6739b6);
}

.bg-gradual-blue {
  color: #fff;
  background-image: linear-gradient(45deg, #0081ff, #1cbbb4);
}

.shadow[class*='-red'] {
  box-shadow: 6px 6px 8px rgba(204, 69, 59, 0.2);
}

.shadow[class*='-orange'] {
  box-shadow: 6px 6px 8px rgba(217, 109, 26, 0.2);
}

.shadow[class*='-yellow'] {
  box-shadow: 6px 6px 8px rgba(224, 170, 7, 0.2);
}

.shadow[class*='-olive'] {
  box-shadow: 6px 6px 8px rgba(124, 173, 55, 0.2);
}

.shadow[class*='-green'] {
  box-shadow: 6px 6px 8px rgba(48, 156, 63, 0.2);
}

.shadow[class*='-cyan'] {
  box-shadow: 6px 6px 8px rgba(28, 187, 180, 0.2);
}

.shadow[class*='-blue'] {
  box-shadow: 6px 6px 8px rgba(0, 102, 204, 0.2);
}

.shadow[class*='-purple'] {
  box-shadow: 6px 6px 8px rgba(88, 48, 156, 0.2);
}

.shadow[class*='-mauve'] {
  box-shadow: 6px 6px 8px rgba(133, 33, 150, 0.2);
}

.shadow[class*='-pink'] {
  box-shadow: 6px 6px 8px rgba(199, 50, 134, 0.2);
}

.shadow[class*='-brown'] {
  box-shadow: 6px 6px 8px rgba(140, 88, 53, 0.2);
}

.shadow[class*='-grey'] {
  box-shadow: 6px 6px 8px rgba(114, 130, 138, 0.2);
}

.shadow[class*='-gray'] {
  box-shadow: 6px 6px 8px rgba(114, 130, 138, 0.2);
}

.shadow[class*='-black'] {
  box-shadow: 6px 6px 8px rgba(26, 26, 26, 0.2);
}

.shadow[class*='-white'] {
  box-shadow: 6px 6px 8px rgba(26, 26, 26, 0.2);
}

.text-shadow[class*='-red'] {
  text-shadow: 6px 6px 8px rgba(204, 69, 59, 0.2);
}

.text-shadow[class*='-orange'] {
  text-shadow: 6px 6px 8px rgba(217, 109, 26, 0.2);
}

.text-shadow[class*='-yellow'] {
  text-shadow: 6px 6px 8px rgba(224, 170, 7, 0.2);
}

.text-shadow[class*='-olive'] {
  text-shadow: 6px 6px 8px rgba(124, 173, 55, 0.2);
}

.text-shadow[class*='-green'] {
  text-shadow: 6px 6px 8px rgba(48, 156, 63, 0.2);
}

.text-shadow[class*='-cyan'] {
  text-shadow: 6px 6px 8px rgba(28, 187, 180, 0.2);
}

.text-shadow[class*='-blue'] {
  text-shadow: 6px 6px 8px rgba(0, 102, 204, 0.2);
}

.text-shadow[class*='-purple'] {
  text-shadow: 6px 6px 8px rgba(88, 48, 156, 0.2);
}

.text-shadow[class*='-mauve'] {
  text-shadow: 6px 6px 8px rgba(133, 33, 150, 0.2);
}

.text-shadow[class*='-pink'] {
  text-shadow: 6px 6px 8px rgba(199, 50, 134, 0.2);
}

.text-shadow[class*='-brown'] {
  text-shadow: 6px 6px 8px rgba(140, 88, 53, 0.2);
}

.text-shadow[class*='-grey'] {
  text-shadow: 6px 6px 8px rgba(114, 130, 138, 0.2);
}

.text-shadow[class*='-gray'] {
  text-shadow: 6px 6px 8px rgba(114, 130, 138, 0.2);
}

.text-shadow[class*='-black'] {
  text-shadow: 6px 6px 8px rgba(26, 26, 26, 0.2);
}

.text-break-word {
  word-wrap: break-word;
  word-break: break-all;
}

//顶部导航公用样式
.nav-bar-custom {
  .wrap {
    padding: 24px;
  }

  .navbar-right {
    display: flex;
    margin-right: 24px;
  }

  .search-wrap {
    flex: 1;
    margin: 0 20px;
  }

  .right-item {
    position: relative;
    display: flex;
    margin: 0 24px;
  }

  .slot-wrap {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .map-wrap {
    display: flex;
    align-items: center;
    margin-left: 30px;
    padding: 4px 6px;
    font-size: 22px;
    background-color: rgba(240, 240, 240, 0.35);
    border-radius: 100px;
  }

  .map-wrap-text {
    padding: 0 6px;
  }
}
